{% extends 'base.html' %}

{% block content %}
    <h2>{{ item.title }}</h2>
    <p>판매자: {{ item.seller.username }} <a href="{% url 'profile' item.seller.id %}">프로필 보기</a></p>
    {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.title }} 이미지">
    {% endif %}
    <p>{{ item.description }}</p>
    <p>가격: ${{ item.price }}</p>
    <p>게시 시간: {{ item.created_at }}</p>
    
    <form action="{% url 'like_item' item.id %}" method="post">
        {% csrf_token %}
        <button type="submit">좋아요</button>
    </form>
    <form action="{% url 'favorite_item' item.id %}" method="post">
        {% csrf_token %}
        <button type="submit">찜하기</button>
    </form>
    
    <p>좋아요 수: {{ item.like_set.count }}</p>
    <p>찜하기 수: {{ item.favorite_set.count }}</p>
    
    <h3>댓글</h3>
    <form action="{% url 'add_comment_to_item' item.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">댓글 작성</button>
    </form>
    
    <div>
        {% for comment in item.comments.all %}
            <p>{{ comment.author.username }}: {{ comment.content }}</p>
        {% empty %}
            <p>댓글이 없습니다.</p>
        {% endfor %}
    </div>
{% endblock content %}
