{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">유저이름 :</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">비밀번호 :</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
</form>
{% endblock content %}